 *{
    margin:0;
    padding:0; 

}



.cabecalho {
    background-color:rgb(6, 8, 126);
    color:rgb(0, 0, 0);
    display:flex;
    justify-content: space-around; 
    align-items: center;
    padding:24px 0;

}

.cabecalho-imagem{
    width: 10%
}
.cabecalho-lista-item {
   display: inline-block ;
   margin: 0 16px;
   font-size: 24px;
   font-family: 'Courier New', Courier, monospace;
}
body {
    font-family: 'Poppins';
    background-image:  linear-gradient(rgb(6, 8, 126), rgb(0, 0, 0));
  }
  .pacifico{

    display:flex;
    
  }
   
   
    escolinha-imagem{
     
      width: 25px;
    }
    .texto